data/sample_images.Rdata filter=lfs diff=lfs merge=lfs -text
data/fitted_models_jing_5.8.Rdata filter=lfs diff=lfs merge=lfs -text
data/fitted_models_trunc_full.Rdata filter=lfs diff=lfs merge=lfs -text
data/fitted_models_trunc_marginal_full.Rdata filter=lfs diff=lfs merge=lfs -text
data/fitted_models_trunc_marginal_thin.Rdata filter=lfs diff=lfs merge=lfs -text
data/fitted_models_trunc_thin.Rdata filter=lfs diff=lfs merge=lfs -text
data/params_theta.Rdata filter=lfs diff=lfs merge=lfs -text
data/results_grid.RData filter=lfs diff=lfs merge=lfs -text
